---
import BaseLayout from '../layouts/BaseLayout.astro'

const pageTitle = 'Relief Society Activity Ideas'
---

<BaseLayout pageTitle={pageTitle}>
  <h2>About Christina</h2>
  <p>
    Hi Sisters! As you can tell, I&apos;m just getting started building this website and I&apos;m so
    excited to find yet another way to connect with sisters of creativity and to share ideas! I
    believe that we are all given talents and are especially unique. Heavenly Father loves variety
    as is shown in the magnificence of all of His creations and the abundant beauty of the earth. I
    believe He wants us to connect with each other through our talents, gifts and interests.
  </p>
  <h2>What Do We Have In Common?</h2>
  <p>
    When we decided to move to Wyoming to live a more sustainable life, the kids were grown and
    mostly on their own. We downsized to our cute cottage on the range. Since then, we have been
    able to embark on our 7-year dream of building out a 🚐 camper van to travel the country. Over
    the last year and a half, we have traveled while trying out different floor plans and spaces.
    What a fun hobby Bill and I have created for ourselves, to work on together, and to enjoy as
    empty nesters. Follow my first attempt at a blog. I recently switched to WordPress so I
    don&apos;t have to rely on my programmer husband to make updates. I am slowly adding past posts
    back in. Here&apos;s to happy trails, a good night on the trail and a new chapter in life.
  </p>
</BaseLayout>
