---
import '../styles/global.css'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

const pageTitle = 'Relief Society Activity Ideas'
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <meta name='description' content='Relief Society Activity Ideas' />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />

    <h1>{pageTitle}</h1>
    <h2>These are the articles</h2>

    <a href='/posts/post-1'>Post 1</a>
    <a href='/posts/post-2'>Post 2</a>
    <a href='/posts/post-3'>Post 3</a>

    <Footer />
  </body>
</html>
