---
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <meta name='description' content='Relief Society Activity Ideas' />
    <title>Relief Society Activity Ideas</title>
  </head>
  <body>
    <a href='/'>Home</a>
    <a href='/blog/'>Articles</a>
    <a href='/about/'>About</a>

    <h1>Relief Society Activity Ideas</h1>
    <h2>These are the articles</h2>
  </body>
</html>
