---
import BaseLayout from '../layouts/BaseLayout.astro'
import BlogPostCard from '../components/BlogPostCard.astro'
const allPosts = (await Astro.glob('../pages/posts/*.md')).sort(
  (a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
)
const pageTitle = 'Relief Society Activity Ideas'
---

<BaseLayout pageTitle={pageTitle}>
  <h2 class='text-center text-2xl pt-6'>All Ideas</h2>

  <div class='grid grid-cols-3 gap-8 pt-4 max-w-6xl mx-auto'>
    {
      allPosts.map((post) => (
        <BlogPostCard
          url={post.url}
          title={post.frontmatter.title}
          imageUrl={post.frontmatter.image_url}
        />
      ))
    }
  </div>
</BaseLayout>
