---
import BaseLayout from '../layouts/BaseLayout.astro'
import BlogPost from '../components/BlogPost.astro'
const allPosts = await Astro.glob('../pages/posts/*.md')
const pageTitle = 'Relief Society Activity Ideas'
---

<BaseLayout pageTitle={pageTitle}>
  <h2>These are the articles</h2>

  <ul>
    {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
  </ul>
</BaseLayout>
