---
import BaseLayout from '../layouts/BaseLayout.astro'

const pageTitle = 'Relief Society Activity Ideas'
---

<BaseLayout pageTitle={pageTitle}>
  <h1 class='text-center pt-12 text-3xl tracking-widest'>Ideas to Brainstorm</h1>
  <p class='pt-4'>
    Just a long list of ideas to brainstorm about for everything related to activity ideas. These
    can turn into Relief Society weekday activities, Sunday lesson attention activity ideas,
    birthday gifts, welcome packets, temple trips, playgroup gatherings, ward picnics … EVERYTHING
    activity related.
    <span class='italic'
      >All Relief Society meetings should focus on the purposes of Relief Society.</span
    >
  </p>

  <p class='pt-4'>
    Life Hacks Homemaking Haircuts Temple and Family History Frugal Cooking Ministering Healthy
    Snacks Get-to-know-You Cooking Hacks Sewing Meal Prep Quilting Making Bread (grinding wheat)
    Gardening/Indoor Outdoor Freezer Jam Photography Zucchini Recipes Cookie Exchange Food Storage
    Clothing Exchange Mental Health Marriage & Family Fitness Class Scripture Study Helps Funeral
    Planning Pay It Forward Campaign Walking Group Welcome New Sisters/Families Playgroup Every
    Sister Has Talents Budgeting/Deals Lesson Attention Activities Estate Planning Relief Society
    Birthday Bash Emergency Preparedness Missionary Work 72 Hour Kits Family Traditions Emergency
    Car Kits Christmas Cookies Identity Theft – Prevent Super Saturday Emergency Car
    Kits/Maintenance Technology Training JustServe/ Service Projects Positive Reinforcement for
    Children Music in your Home Planning for Retirement First Aid Preparing for a Mission
  </p>
</BaseLayout>
