---
import BaseLayout from '../layouts/BaseLayout.astro'

const pageTitle = 'Relief Society Activity Ideas'
---

<BaseLayout pageTitle={pageTitle}>
  <h1 class='text-center pt-12 text-3xl tracking-widest'>Ideas to Brainstorm</h1>
  <p class='pt-4'>
    Just a long list of ideas to brainstorm about for everything related to activity ideas. These
    can turn into Relief Society weekday activities, Sunday lesson attention activity ideas,
    birthday gifts, welcome packets, temple trips, playgroup gatherings, ward picnics … EVERYTHING
    activity related.
    <span class='italic'
      >All Relief Society meetings should focus on the purposes of Relief Society.</span
    >
  </p>

  <p class='pt-4'>
    <ul class='grid grid-cols-3'>
      <li>Life Hacks</li>
      <li>Homemaking</li>
      <li>Haircuts</li>
      <li>Frugal Cooking</li>
      <li>Ministering</li>
      <li>Healthy Snacks</li>
      <li>Get-to-know-You</li>
      <li>Sewing</li>
      <li>Cooking Hacks</li>
      <li>Meal Prep</li>
      <li>Quilting</li>
      <li>Making Bread (grinding wheat)</li>
      <li>Gardening/Indoor Outdoo</li>
      <li>Freezer Jam</li>
      <li>Photography</li>
      <li>Zucchini Recipes</li>
      <li>Cookie Exchange</li>
      <li>Food Storage</li>
      <li>Clothing Exchange</li>
      <li>Mental Health</li>
      <li>Marriage & Family</li>
      <li>Fitness Class</li>
      <li>Scripture Study Helps</li>
      <li>Funeral Planning</li>
      <li>Pay It Forward Campaign</li>
      <li>Walking Group</li>
      <li>Welcome New Sisters/Families</li>
      <li>Playgroup</li>
      <li>Every Sister Has Talents</li>
      <li>Budgeting/Deals</li>
      <li>Lesson</li>
      <li>Attention Activities</li>
      <li>Estate Planning</li>
      <li>Relief Society Birthday Bash</li>
      <li>Emergency Preparedness</li>
      <li>Missionary Work</li>
      <li>72 Hour Kits</li>
      <li>Family Traditions</li>
      <li>Christmas Cookies</li>
      <li>Identity Theft and Preventio</li>
      <li>Super Saturday</li>
      <li>Emergency Car Kits/Maintenance</li>
      <li>Homemade Card Making</li>
      <li>Technology Training</li>
      <li>JustServe - Service Projects</li>
      <li>Positive Reinforcement for Children</li>
      <li>Music in your Home</li>
      <li>Planning for Retirement</li>
      <li>First Aid</li>
      <li>Preparing for a Missio</li>
    </ul>
  </p>
</BaseLayout>
