---
import BaseLayout from '../layouts/BaseLayout.astro'

const pageTitle = 'Relief Society Activity Ideas'
---

<BaseLayout pageTitle=''>
  <section class='flex flex-col items-center gap-4 pt-12'>
    <h2 class='font-bold'>Be Creative</h2>
    <h2 class='font-bold'>Get Involved &nbsp; &#127800; &nbsp; Share Your Talents</h2>
  </section>

  <section class='pt-4 max-w-2xl mx-auto'>
    <blockquote>
      <p>
        “Creation brings deep satisfaction and fulfillment. We develop ourselves and others when we
        take unorganized matter into our hands and mold it into something of beauty…”
      </p>
    </blockquote>
    <div class='flex gap-4'>
      <figcaption class='pt-2'>Dieter F. Uchtdorf</figcaption>
      <cite class='pt-2'>“Happiness, Your Heritage,” Nov. 2008 General Conference</cite>
    </div>
  </section>

  <section class='pt-6'>
    <p>Featured posts from a given category go here and have picture as link to post</p>
  </section>

  <section class='pt-6'>
    <p>Put same thing as above, except last 5 posts</p>
  </section>
</BaseLayout>
