---
const platform = 'facebook'
const username = 'christinanalen'
---

<footer class='pt-12 flex flex-col items-center gap-4'>
  <p class='text-sm text-gray-600'>All pictures by Christina Nalen unless otherwise noted</p>
  <p class='text-sm text-gray-600'>Copyright 2023 &copy; Christina Nalen</p>
</footer>
