---
---

<nav class='flex justify-center pt-4'>
  <ul class='flex gap-4'>
    <li><a href='/'>Home</a></li>
    <li><a href='/blog/'>Articles</a></li>
    <li><a href='/tags/'>Categories</a></li>
    <li><a href='/brainstorm/'>Brainstorm</a></li>
    <li><a href='/about/'>About</a></li>
  </ul>
</nav>
