---
---

<nav class='flex justify-center pt-4'>
  <ul class='flex gap-4'>
    <li class='hover:text-lime-700'><a href='/'>Home</a></li>
    <li class='hover:text-lime-700'><a href='/blog/'>Ideas</a></li>
    <li class='hover:text-lime-700'><a href='/tags/'>Categories</a></li>
    <li class='hover:text-lime-700'><a href='/brainstorm/'>&#128161;Brainstorm</a></li>
    <li class='hover:text-lime-700'><a href='/about/'>About</a></li>
    <li class='hover:text-lime-700'><a href='mailto:christina@nalens.com'>Contact</a></li>
  </ul>
</nav>
