---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import '../styles/global.css'

const { pageTitle } = Astro.props
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <meta name='description' content='Relief Society Activity Ideas' />
    <script src='https://identity.netlify.com/v1/netlify-identity-widget.js'></script>
    <title>{pageTitle}</title>
  </head>
  <body>
    <div class='p-4'>
      <Header />

      <main class='max-w-6xl mx-auto'>
        <slot />
      </main>

      <Footer />
    </div>
  </body>
</html>
